.header_img img {
  width: 100px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 90%;
  top: 0;
  left: 5%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  padding: 0rem 0.7rem;
  z-index: 1000;
  border-radius: 40px;
}

.navbar a {
  color: #CCF281;
  margin-left: 1rem;
  height: 60px;
  align-content: center;
  text-decoration: none;
}

.basic-navbar-nav a:hover {
  text-decoration: underline;
}

.nav-link:hover {
  color: aqua;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: aqua;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #313E64;   
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
  margin-left: 10px;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  margin-left: 0px;
  text-align: center;
  padding: 0;
}

.fade-slide-in {
    animation: fadeSlideIn 1s ease-in-out forwards;
    opacity: 0;
}
